<!-- jquery -->
<% if (isCdnEnable('jquery')) {%> 
  <%- getCdnScript('jquery') %> 
<% } else { %> 
  <%- js('lib/jquery/jquery.min') %>
<% } %>

<% if (page.photos && page.photos.length) { %>
  <% if (isCdnEnable('justified_gallery_js')) {%>
    <%- getCdnScript('justified_gallery_js') %> 
  <% } else { %> 
    <%- js('lib/justified-gallery/js/jquery.justifiedGallery.min.js') %>
  <% } %> 
<% } %>

<% if (is_post()){ %>
  <!-- clipboard -->
  <% if (isCdnEnable('clipboard')) { %>
    <%- getCdnScript('clipboard') %> 
  <% } else { %> 
    <%- js('lib/clipboard/clipboard.min') %>
  <% } %>
  <script type="text/javascript">
  $(function() {
    // copy-btn HTML
    var btn = "<span class=\"btn-copy tooltipped tooltipped-sw\" aria-label=\"<%= __('tooltip.copy_tip') %>\">";
    btn += '<i class="far fa-clone"></i>';
    btn += '</span>'; 
    // mount it!
    $(".highlight table").before(btn);
    var clip = new ClipboardJS('.btn-copy', {
      text: function(trigger) {
        return Array.from(trigger.nextElementSibling.querySelectorAll('.code')).reduce((str,it)=>str+it.innerText+'\n','')
      }
    });
    clip.on('success', function(e) {
      e.trigger.setAttribute('aria-label', "<%= __('tooltip.copied') %>");
      e.clearSelection();
    })
  })
  </script>
<% } %>
<%- js('js/main') %>
<% if (config.search && (page.search || page.type === "search")){ %>
  <!-- search -->
  <%- js('js/search.js') %>
  <script type="text/javascript">
  $(function() {

    var $inputArea = $("input#search-input");
    var $resultArea = document.querySelector("div#search-result");

    $inputArea.focus(function() {
      var search_path = "<%= config.search.path %>";
      if (search_path.length == 0) {
        search_path = "search.xml";
      }
      var path = "<%= config.root %>" + search_path;
      searchFunc(path, 'search-input', 'search-result');
    });

    $inputArea.keydown(function(e) {
      if (e.which == 13) {
        e.preventDefault();
      }
    });

    var observer = new MutationObserver(function(mutationsList, observer) {
      if (mutationsList.length == 1) {
        if (mutationsList[0].addedNodes.length) {
          $(".search-no-result").hide();
        } else if (mutationsList[0].removedNodes.length) {
          $(".search-no-result").show(200);
        }
      }
    });

    observer.observe($resultArea, { childList: true });

  });
  </script>
<% } %>
<% if (theme.google_analytics.enabled && theme.google_analytics.id){ %>
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= theme.google_analytics.id %>"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= theme.google_analytics.id %>');
  </script>
<% } %>
<% if (theme.baidu_analytics.enabled && theme.baidu_analytics.id){ %>
  <!-- Baidu Analytics -->
  <script type="text/javascript">
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?<%= theme.baidu_analytics.id %>";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
<% } %>
<% if (theme.cloudflare_analytics.enabled && theme.cloudflare_analytics.id){ %>
  <!-- Cloudflare Analytics -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "<%= theme.cloudflare_analytics.id %>"}'></script>
<% } %>
<% if (theme.umami_analytics.enabled && theme.umami_analytics.id && theme.umami_analytics.host){ %>
  <!-- Umami Analytics -->
  <script async defer data-website-id="<%= theme.umami_analytics.id %>" src="<%= theme.umami_analytics.host %>/umami.js"></script>
<% } %>

<% if(page.comments){ %>
<script src="https://cdn.bootcss.com/blueimp-md5/2.12.0/js/md5.min.js"></script>
<link href="https://cdn.bootcss.com/ajax/libs/gitalk/1.8.0/gitalk.min.css" rel="stylesheet">
<style>
  .gt-comment-content:hover {
    box-shadow: none !important;
  }
  .gt-comment-content {
    border-radius: 5px;
  }
</style>
<script type="text/javascript">
    (function(){
        var gitalk = document.createElement('script');
        gitalk.type = 'text/javascript';
        gitalk.async = true;
        gitalk.src = 'https://cdn.bootcss.com/ajax/libs/gitalk/1.8.0/gitalk.min.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gitalk);
        gitalk.onload = function(){
            var gitalk = new Gitalk({
                id: md5(location.pathname),
                clientID: '<%= config.gitalk.clientID %>',
                clientSecret: '<%= config.gitalk.clientSecret %>',
                repo: '<%= config.gitalk.repo %>',
                owner: '<%= config.gitalk.owner %>',
                admin: ['<%= config.gitalk.admin %>'],
            });
            gitalk.render('gitalk-container');
        };
    }());
</script>
<% } %>
